<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <h1>Página Inicial - Index.EJS</h1>
    <a href="/contato">Contato</a><br>
    <a href="/portifolio">Portifolio</a><br>
    <a href="/localizacao">Localização</a>
</body>
</html>