<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localização</title>
</head>
<body>
    <h1>Página - Localização (pagina4.ejs)</h1>
    <a href="/">Index</a><br>
    <a href="/contato">Contato</a><br>
    <a href="/portifolio">Portifolio</a><br>
    <a href="/mapa">Google Maps</a>
</body>
</html>