<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Professor</title>
</head>
<body>
    <h1> Cadastro de Professores - Create</h1>
    <form action="" method="post">
        <label for="nome"> Nome:</label>
        <input type="text" name="nome" id="nome" required><br>
        <label for="disciplina"> Disciplina:</label>
        <input type="text" name="disciplina" id="disciplina"><br>
        <label for="email"> Email:</label>
        <input type="email" name="email" id="email"><br>
        <label for="turma">Turma:</label>
        <input type="text" name="turma" id="turma"><br>
        <input type="submit" value="Gravar">
  
    </form>
</body>
</html>